body{
    display: flex;
    justify-content: center;
    
    background-color: rgb(187, 187, 187);
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-container{
    display: flex;
    justify-content: center;
    justify-self: center;
    
    max-width: 900px;

    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgba(4, 22, 31, 0.116);
}

h1{
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(189, 189, 189);

}

h3{
    color: rgb(54, 54, 54);
    margin: 0px;
}

p{
    color:rgb(56, 56, 56);
    margin: 0px;
}

.ident{
    text-indent: 3ch;
}

.div-list{
    list-style: none;
    padding: 0px;
    display: inline;
}

.div-list{
    display: flex;
    border-bottom: 1px solid rgb(0, 0, 0);
    align-items: center;
    justify-content: space-between;
}

a{
    color: rgb(76, 118, 216);
    text-decoration: none;
    text-decoration: underline;
}

a:hover{
    color: black;
    text-decoration: underline;
}

.box{
    height: 100;
    width: 100;
    margin: 30px 40px;
}

.vertical-line{
    border-left: 1px solid rgb(192, 192, 192);
    margin-top: 30px;
    margin-bottom: 30px;
}

.horizontal-line{
    border-bottom: 1px solid rgb(192, 192, 192);
    margin-top: 30px;
    margin-bottom: 30px;
}

.envelope{
    color: rgb(218, 143, 45);
}

.photo{
    display: flex;
    justify-content: center;
}

.photo img{
    height: 100px;
    width: auto;
    border-radius: 1000px;
}

.center-text{
    text-align: center;
    margin-bottom: 0px;
}

.fab, .fas{
    display: inline-block;
    margin: 5px;
    color: rgb(65, 65, 65);
    font-size: 30px;
}

.light-text{
    color:rgb(138, 138, 138);
    border: 0px;
}

.light-text2{
    color:rgb(97, 97, 97);
    border: 0px;
}

li{
    margin: 0.3rem;
}