<script>
    function getTheme(){
        if(document.body.attributes['data-color-scheme'].value == 'dark')
        return 'github-dark'
        else
        return 'github-light'
    }

    function themeReloader() {
        let theme = getTheme()
        const message = {
            type: 'set-theme',
            theme: theme
        };
        var utterances = document.querySelector('iframe');
        utterances.contentWindow.postMessage(message, 'https://utteranc.es');
    }

    const color_scheme_observer = new MutationObserver(themeReloader);
    color_scheme_observer.observe(document.body, {attributeFilter: ["data-color-scheme"]});
    setup()

    function setup() {
        document.addEventListener("DOMContentLoaded", () => {
            let item = document.createElement('script');

            item.setAttribute("src", "https://utteranc.es/client.js")
            item.setAttribute("repo", "felipe-higino/felipe-higino.github.io")
            item.setAttribute("label", "COMMENTARY")
            item.setAttribute("theme", getTheme()) 
            item.setAttribute("crossorigin", "anonymous") 
            item.setAttribute("issue-term", "{{ page.lng_pair }}")
            item.setAttribute("async", "")

            var utterancesRoot = document.getElementById("utterances-script");
            utterancesRoot.appendChild(item)
        });
    }
</script>

<div id="utterances-script"></div>